body {
    background-color: #1a1a1a;
    background: -webkit-linear-gradient(to right, #050505, #202020);
    background: linear-gradient(to right, #050505, #202020);
	color: #d6d6d6;
}

a {
	color: #99ffff;
}

nav {
	background-color: #363636;
	border-bottom-color: #99ffff;
	border-top-color: #99ffff;
}

main {
	background-color: #474747;
	color: #d6d6d6;
}

.headline {
	border-bottom-color: #99ffff;
}

input, textarea {
	border-color: #d6d6d6;
	background-color: #252525;
	color: #d6d6d6;
}

input:hover, textarea:hover {
	border-color: #99ffff;
}

input[type="submit"] {
	background-color: #242424;
	color: #d6d6d6;
}

input[type="submit"]:hover {
	background-color: #99ffff;
	color: #242424;
}

.loginarea {
	color: #d6d6d6;
}

.mainMenuButton {
	color: #d6d6d6;
}

.mainMenuButton:hover {
	background-color: #595959;
}

.mainMenuButton > a {
	color: #d6d6d6;
}

.mainMenuButton:hover > div {
	border-color: #99ffff;
	background-color: #242424;
}

.childMenuItem:hover {
	background-color: #363636;
}

.subcategories {
	border-bottom-color: #99ffff;
}

.banner {
	background-color: #242424;
}

.banner > .headline {
	background-color: #99ffffdd;
	color: #242424;
}

.file > .columns {
	border-color: #99ffff;
}

.file:not(:first-child):hover {
	background-color: #363636;
}

footer {
	background-color: #242424;
	color: #d6d6d6;
}

footer > div:hover {
	background-color: #363636;
}

footer > div > span {
	border-bottom: 1px solid #d6d6d6;
}

footer > div > a {
	color: #d6d6d6;
}

footer > div > a:hover {
	color: #99ffff;
}