@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

* {
    margin: 0px;
    font-family: 'Baloo Paaji 2';
	box-sizing: border-box;
}

body {
	font-size: 12pt;
}

a {
    text-decoration: none;
}

header {
    max-width: 1400px;
    min-width: 1400px;
    min-height: 200px;
    margin: auto;
	margin-top: 75px;
}

nav {
	width: 1400px;
	margin: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid transparent;
	border-top: 2px solid transparent;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3px;
}

main {
	width: 1400px;
	margin: auto;
	position: relative;
	overflow: hidden;
	margin-top: 25px;
}

section {
	padding: 50px;
}

.headline {
	padding: 20px;
	padding-top: 0px;
	margin-bottom: 20px;
	border-bottom: 2px solid;
	font-size: 16pt;
	font-weight: bold;
}

.headline > .extension {
	font-size: 14pt;
}

form > input, form > textarea {
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	border: 1px solid;
	transition-duration: .2s;
	vertical-align: middle;
	margin-top: 5px;
	width: 200px;
}

form > textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
}

form > input[type="submit"] {
	cursor: pointer;
	width: auto;
}

.profileMenu {
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
}

.loginarea {
    width: 100%;
    text-align: right;
}

.banner {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.banner::before {
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% +6px);
    height: 306px;
    background-position: 0px -80px;
    background-size: 100px;
    filter: blur(2px);
}

.banner > .headline {
    padding: 10px 25px 10px 25px;
    font-size: 25px;
    font-weight: lighter;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainMenuButton {
	transition: background-color .2s 0s;
	max-height: 35px;
	cursor: pointer;
	position: relative;
}

.mainMenuButton::first-child {
	margin-left: 0px;
}

.mainMenuButton > a {
	margin: auto;
	padding: 5px 15px 5px 15px;
	display: inline-block;
}

.mainMenuButton > div {
	display: none;
	position: absolute;
	border: 2px solid transparent;
	border-top: none;
	text-align: left;
	min-width: 100%;
	margin-top: -4px;
	z-index: 2;
}

.mainMenuButton:hover > div {
	display: block;
}

.childMenuItem {
	padding: 3px;
}

.childMenuItem > a {
	width: 100%;
	display: inline-block;
}

.subcategories {
	border-bottom: 2px solid;
	padding-bottom: 10px;
	padding-left: 20px;
}

.subcategory {
	padding: 2px;
	text-decoration: none;
	transition: text-decoration .2s 0s;
}

.subcategory:hover {
	text-decoration: underline;
}

.betawarning {
	min-width: 1400px;
	max-width: 1400px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 5px solid red;
	padding: 10px;
}

footer {
	width: 1400px;
	margin: auto;
	display: block;
	justify-content: center;
	margin-bottom: 25px;
}

footer > div {
	width: calc(100% / 3);
	box-sizing: border-box;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	transition: background-color .2s 0s;
	min-width: 177px;
	display: inline-block;
	vertical-align: top;
}

footer > div > span {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 15px;
	width: 40%;
	margin-bottom: 10px;
	padding: 5px;
	display: inline-block;
}

footer > div > a {
	font-size: 14px;
	display: block;
	transition: color .2s 0s;
}

footer > div > a:hover {
	text-decoration: underline;
}