@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

* {
    margin: 0px auto;
    font-family: 'Baloo Paaji 2';
	box-sizing: border-box;
    outline: none;
}

.login_required {
    margin-top: 100px;
    max-width: 1000px;
    min-height: 500px;
}